VITE_SANITY_PROJECT_ID=snaity-project-id
VITE_SANITY_DATASET=sanity-dataset
VITE_SERVER_BASE_URL=backend-server-base-url
VITE_WHATSAPP_NUMBER=your-whatsapp-number
VITE_SANITY_TOKEN=your-sanity-token
VITE_RAZORPAY_KEY_ID=your-razorpay-key-id